<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geek.life.dao.UserDemoMapper" >
  <resultMap id="BaseResultMap" type="com.geek.life.model.pojo.UserDemo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="val" property="val" jdbcType="DECIMAL" />
    <result column="add_one" property="addOne" jdbcType="INTEGER" />
    <result column="add_two" property="addTwo" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, val, add_one, add_two, user_name
  </sql>
</mapper>