<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.life.dao.UserDemoMapper">
  <resultMap id="BaseResultMap" type="com.geek.life.model.pojo.UserDemo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="val" jdbcType="DECIMAL" property="val" />
    <result column="add_one" jdbcType="INTEGER" property="addOne" />
    <result column="add_two" jdbcType="INTEGER" property="addTwo" />
    <result column="user_name" jdbcType="INTEGER" property="userName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, val, add_one, add_two, user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strs_user_demo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from strs_user_demo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geek.life.model.pojo.UserDemo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strs_user_demo (type, val, add_one, 
      add_two, user_name)
    values (#{type,jdbcType=INTEGER}, #{val,jdbcType=DECIMAL}, #{addOne,jdbcType=INTEGER}, 
      #{addTwo,jdbcType=INTEGER}, #{userName,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.geek.life.model.pojo.UserDemo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strs_user_demo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="val != null">
        val,
      </if>
      <if test="addOne != null">
        add_one,
      </if>
      <if test="addTwo != null">
        add_two,
      </if>
      <if test="userName != null">
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="val != null">
        #{val,jdbcType=DECIMAL},
      </if>
      <if test="addOne != null">
        #{addOne,jdbcType=INTEGER},
      </if>
      <if test="addTwo != null">
        #{addTwo,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geek.life.model.pojo.UserDemo">
    update strs_user_demo
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="val != null">
        val = #{val,jdbcType=DECIMAL},
      </if>
      <if test="addOne != null">
        add_one = #{addOne,jdbcType=INTEGER},
      </if>
      <if test="addTwo != null">
        add_two = #{addTwo,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geek.life.model.pojo.UserDemo">
    update strs_user_demo
    set type = #{type,jdbcType=INTEGER},
      val = #{val,jdbcType=DECIMAL},
      add_one = #{addOne,jdbcType=INTEGER},
      add_two = #{addTwo,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--测试-->
  <update id="test">
    sefee
  </update>
</mapper>